# Bonus: Temperature Analysis I

In [10]:
import pandas as pd
from datetime import datetime as dt

In [11]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [12]:
#Check data type of date column
print(df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [15]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
print (df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [16]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [25]:
# Drop the date column
df.reset_index()

       index      station  prcp  tobs
0          0  USC00519397  0.08    65
1          1  USC00519397  0.00    63
2          2  USC00519397  0.00    74
3          3  USC00519397  0.00    76
4          4  USC00519397   NaN    73
...      ...          ...   ...   ...
19545  19545  USC00516128  0.09    71
19546  19546  USC00516128   NaN    78
19547  19547  USC00516128  0.56    76
19548  19548  USC00516128  0.50    76
19549  19549  USC00516128  0.45    76

[19550 rows x 4 columns]

### Compare June and December data across all years

In [32]:
from scipy import stats

In [33]:
# Filter data for desired months
#jun_data = df[df.index.month == 6]
#dec_data = df[df.index.month == 12]

AttributeError: 'RangeIndex' object has no attribute 'month'

In [34]:
# Identify the average temperature for June
#june_data.mean()

NameError: name 'june_data' is not defined

In [ ]:
# Identify the average temperature for December
december_data.mean()

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test
stats.ttest_ind(june_temp, december_temp)

### Analysis